<!doctype html>
@model  List<PicManager.Models.ImgeList>
@{
    Layout =null;
}
<html>
<head>
    <meta charset="utf-8">
    <title>相册</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <link href="~/Scripts/Viewer/css/main.css" rel="stylesheet" />
    <link href="~/Scripts/Viewer/css/StyleSheet1.css" rel="stylesheet" />
    <script src="~/Scripts/Viewer/js/Viewer.js"></script>
    <script src="~/Scripts/Viewer/js/jquery-viewer.js"></script>
    <script src="~/Scripts/Viewer/js/main.js"></script>

    <style>
@("@")import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');

/* _variables.css */

/* _mixins.css */

/* _global.css */
* {
  box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: #292929;
}

img {
  max-width: 100%;
  height: auto;
}

/* _site-header.css */
.site-header {
  text-align: center;
  padding: 40px 0;

}
.site-header__title {
  font-size: 36px;
  color: #fff;
}

/* _wrapper.css */
.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
}


/* _timeline.css */
.timeline {
  position: relative;
  margin: 30px auto;
  padding: 60px 0;

}
.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 4px;
  height: 100%;
  background-color: #8d94b1;
}
@("@")media (min-width: 800px){
  .timeline::before{
    left: 50%;
    margin-left: -2px;
  }
}
.timeline__item {
  margin-bottom: 100px;
  position: relative;
}
.timeline__item::after{
  content: "";
  clear: both;
  display: table;
}
.timeline__item:nth-child(2n) .timeline__item__content {
  float: right;
}
.timeline__item:nth-child(2n) .timeline__item__content::before {
  content: '';
  right: 40%;
}
@("@")media (min-width: 800px){
  .timeline__item:nth-child(2n) .timeline__item__content::before{
    left: inherit;
  }
}
.timeline__item:nth-child(2n) .timeline__item__content__date {
  background-color: #b292c5;
}
.timeline__item:nth-child(2n) .timeline__item__content__description {
  color: #b292c5;
}
.timeline__item:last-child {
  margin-bottom: 0;
}
.timeline__item-bg {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  color: #fff;
}
.timeline__item-bg:nth-child(2n) .timeline__item__station {
  background-color: #7646b5;
}
.timeline__item-bg:nth-child(2n) .timeline__item__content {
  background-color: #7646b5;
}
.timeline__item-bg:nth-child(2n) .timeline__item__content::before {
  background-color: #b292c5;
}
.timeline__item-bg:nth-child(2n) .timeline__item__content__description {
  color: #fff;
}
.timeline__item-bg .timeline__item__station {
  background-color: #0072e8;
}
.timeline__item-bg .timeline__item__content {
  background-color: #0072e8;
}
.timeline__item-bg .timeline__item__content::before {
  background-color: #65adb7;
}
.timeline__item-bg .timeline__item__content__description {
  color: #fff;
}
.timeline__item__station {
  background-color: #9aa0b9;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  top: 0;
  left: 10%;
  margin-left: -33px;
  border: 4px solid #8d94b1;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
@("@")media (min-width: 800px){
  .timeline__item__station{
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    padding: 15px;
    border-width: 6px;
  }
}
.timeline__item__content {
  width: 80%;
  background: #fff;
  padding: 20px 30px;
  border-radius: 6px;
  float: right;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
@("@")media (min-width: 800px){
  .timeline__item__content{
    width: 40%;
    float: inherit;
    padding: 30px 40px;
  }
}
.timeline__item__content::before {
  content: '';
  position: absolute;
  left: 10%;
  background: #8d94b1;
  top: 20px;
  width: 10%;
  height: 4px;
  z-index: -1;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
@("@")media (min-width: 800px){
  .timeline__item__content::before{
    left: 40%;
    top: 30px;
    height: 4px;
    margin-top: -2px;
  }
}
.timeline__item__content__date {
  margin: 0;
  padding: 8px 12px;
  font-size: 15px;
  margin-bottom: 10px;
  background-color: #65adb7;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  border: 2px solid #fff;
}
.timeline__item__content__description {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #65adb7;
}
@("@")media (min-width: 800px){
  .timeline__item__content__description{
    font-size: 19px;
    line-height: 28px;
  }
}

/* _site-footer.css */
.site-footer {
  padding: 50px 0 200px 0;

}
.site-footer__text {
  color: #e6e6e6;
  font-size: 14px;
  text-align: center;
}
.site-footer__text__link {
  color: #8287a9;
}

    </style>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
        .main .box {
            width: 31%;
            padding-bottom: 31%;
            border: 1% solid #fff;
            background-color: mediumpurple;
            border-radius: 3%;
            float: left;
            margin: 1%;
            position: relative; /*父元素给相对定位*/
        }

            .main .box .content {
                position: absolute; /*子元素给绝对定位*/
                width: 100%;
                height: 100%;
            }

        .content img {
            height: 100%
        }
    </style>

</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header nav-title ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/img/logo.png" class="img-rounded img-responsive center-block " style="height:40px; display:block;float:left; margin-top:3px;" />
                <a class="navbar-brand">&nbsp;PICTURE</a>

            </div>
            <div class="collapse navbar-collapse navbar-right is-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/First/IndexPage"><span class="glyphicon glyphicon-home">&nbsp;首页</span></a></li>
                    <li><a href="/Login/UserLogout"><span class="glyphicon glyphicon-user">&nbsp;退出</span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-question-sign">&nbsp;个人中心</span></a></li>
                    <li><a href="/PicManager/UpLoadPicPage"><span class="glyphicon ">&nbsp;上传照片</span></a></li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </div>

    <section class="timeline">
        <div class="wrapper">
            @foreach (var item in (List<PicManager.Models.ImgeList>)ViewData["PicList"] )
            {


                <div class="timeline__item timeline__item--0">
                    <div class="timeline__item__station"></div>
                    <div class="timeline__item__content">

                        <h2 class="timeline__item__content__date">@item.PicDate </h2>

                        <div class="main timeline__item docs-pictures ">
                            @foreach (var imgName in item.PicNameList)
                            {
                                <div class="box">
                                    <div class="content">
                                        <img data-original="http://vinkong.51vip.biz:38239/@imgName" src="http://vinkong.51vip.biz:38239/@imgName" />
                                    </div>
                                   
                                </div>
                            }




                        </div>
                    </div>
                </div>
            }
       
        </div>
    </section>

    <script>
        function customWayPoint(className, addClassName, customOffset) {
            var waypoints = $(className).waypoint({
                handler: function (direction) {
                    if (direction == "down") {
                        $(className).addClass(addClassName);
                    } else {
                        $(className).removeClass(addClassName);
                    }
                },
                offset: customOffset
            });
        }

        var defaultOffset = '50%';

        for (i = 0; i < 17; i++) {
            customWayPoint('.timeline__item--' + i, 'timeline__item-bg', defaultOffset);
        }
    </script>

</body>
</html>


